<div class="container mt-4">
  <p
    [ngClass]="{
      est: est,
      real: real,
      milan: milan
    }"
    style="font-size: 25px"
  >
    class works!
  </p>
  <button class="btn btn-danger" (click)="changeTeam()">Espérance</button>
</div>
<div class="container mt-4" style="font-size: 25px" appHighlight>
  Je test ma directive Highlight !
</div>

<div class="container mt-4">
  <p style="font-size: 25px">Rainbow Text :</p>
  <input
    type="text"
    class="form-control"
    style="border-width: 3px"
    appRainbow
  />
</div>
