<h2 class="mt-3 text-center text-primary">Login Form</h2>
<form #loginFormulaire="ngForm">
  <label for="email">Email</label>
  <input
    id="email"
    required
    email
    type="email"
    ngModel
    name="email"
    class="form-control mb-2"
    #emailModel="ngModel"
  />
  <div
    class="alert alert-danger mt-2 mb-2"
    *ngIf="emailModel.invalid && emailModel.touched"
  >
    Email invalide
  </div>
  <label for="password">Mot de passe</label>
  <input
    id="password"
    required
    minlength="4"
    type="password"
    ngModel
    name="password"
    class="form-control mb-2"
    #passwordModel="ngModel"
  />
  <div
    class="alert alert-danger mt-2 mb-2"
    *ngIf="passwordModel.invalid && passwordModel.touched"
  >
    Mot de passe invalide
  </div>
  <button
    class="btn btn-primary mb-2 mt-2"
    [disabled]="loginFormulaire.invalid"
    (click)="login(loginFormulaire.value)"
  >
    Login
  </button>
  <!--<div class="alert alert-danger mt-3" *ngIf="showError">
    Verifier vos identifiants
  </div>-->
</form>
