
    <div class=" bg-dark text-white p-3 shadow mb-5 rounded">
      <h2>TP1_Angular</h2>
    </div>

    <div class="container mt-4">
      <h3 class="text-center shadow-lg p-3 mb-5 bg-body rounded">Mini Word</h3>
      <p [ngStyle]="{
        'color': color,
        'font-size.px': size,
        'font-family': fontFamily
      }" class="text-center">"Life is short, and it's up to you to make it sweet."</p>
      <div class="form-group">
        <label for="colorInput">Text Color:</label>
        <input type="color" id="colorInput" class="form-control" [(ngModel)]="color">
      </div>

      <div class="form-group">
        <label for="sizeInput">Font Size:</label>
        <input id="sizeInput" class="form-control" type="number" [(ngModel)]="size">
      </div>

      <div class="form-group">
        <label for="fonts">Choose a Font:</label>
        <select class="form-control" id="fonts" [(ngModel)]="fontFamily">
          <option value="garamond">Garamond</option>
          <option value="verdana">Verdana</option>
          <option value="arial">Arial</option>
        </select>
      </div>
    </div>

    <hr>

    <div class="container mt-4">
      <h3 class="text-center shadow-lg p-3 mb-5 bg-body rounded">Rainbow Text</h3>
      <input type="text" class="form-control rainbow text-center" appRainbowText>
    </div>
